:root {
   /* Cake Walk */
   --colot-orange:#ea5743;
   --color-grey: #a3a3a3;
   --color-light-orange:#fce6e3;

    /* Color */
    --color-transparent: #00000000;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-medium-white: #F1F1F1;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
  
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 10px;
  
    /* Font weight */
  
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius : 4px;

    /* Animation */
    --animation-duration: 300ms;
}


body{
    font-family: 'Noto Sans KR', sans-serif;
    margin:0;
}
*:focus { outline:none; }
ul{
    padding-left: 0;
}
li{
    list-style: none;
    color:var(--color-black);
}
a{
    text-decoration: none;
    color:var(--color-black);
}
h3,h4,h5{
    font-weight: normal;
    margin:0;
}
button{
    cursor:pointer;
}
.modal{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    top:-150px;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.modal_overlay{
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    position: absolute;
}

.modal_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    position: relative;
    text-align:center;
    width:500px;
    height:530px;
}
.signInup button{
    position: relative;
    background-color: var(--color-white);
    border:none;
    font-size:20px;
    font-weight: var(--weight-bold);
    padding:65px 55px 50px;
    top:-30px;
    z-index: 1;
}
.signInup .signUp{
    color:var(--color-dark-white);
}
.modal_content .borderline{
    position: absolute;
    margin-left: 70px;
    width:350px;
    height:3px;
    top:120px;
    border-radius: 20px;
    background-color:var(--colot-orange);
    opacity: 0.1;
    z-index: 2;

}
.signIn_input{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.signIn_input input{
    position: relative;
    width:230px;
    height:30px;
    margin-bottom: 15px;
    border: 1.5px solid var(--color-dark-white);
    border-radius: 2px;
    top:-30px;
}
.signIn_input .btn_login{
    position: relative;
    margin-top: 15px;
    padding: 10px 90px;
    border-radius: 30px;
    background-color: var(--colot-orange);
    color:var(--color-white);
    border:none;
    font-size:var(--font-regular);
    font-weight: bolder;
    top:-30px;
}
.signIn_input a{
    position: relative;
    color:var(--color-dark-white);
    padding:20px;
    top:-30px;

}
.signIn_input h4{
    position: relative;
    color:var(--color-dark-white);
    top:-15px;

}
.hidden{
    display:none
}
.social_login img{
    position: relative;
    padding:12px;
    top:-5px;

}
/* 헤더 영역 */

header{
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
}
header .header_logo img{
    width:132px;
    height:42px;
    margin-top: 8px;
}
.header_menu{
    padding-right: 300px;
}
.header_menu ul{
    display:flex;
}
.header_menu li{
    color:var(--color-black);
    padding-right: 80px;
}

.header_menu_home :hover{
    color : var(--color-dark-pink);
}

.header_menu_store :hover{
    color : var(--color-dark-pink);
}

.header_menu_community :hover{
    color : var(--color-dark-pink);
}

.header_menu_event :hover{
    color : var(--color-dark-pink);
}

.header_menu_service :hover{
    color : var(--color-dark-pink);
}

.header_right ul{
    display:flex;
}
.header_right li{
    padding-left: 30px;
}
.header_right li i{
    padding:5px;
}

/* 메인이벤트 */

.main_event {
    position:relative;
    }
.main_event_container{
    padding:0;
    width : 100%;
    position : absolute;
    top : 10px;
}
.main_event .slick-dots{
    position : absolute;
    left:7%;
    bottom:10%;

}
.main_event .slick-dots li{
    list-style: none;
    width : 12px;
    height : 12px;
    background-color:  var(--color-transparent) ;
    border-color: var(--color-white);
    border-style :solid;
    border-width : 1.1px;
    
    border-radius : 50%;
    display : inline-block;
    
    margin : 10px; 
}
.main_event .slick-dots li button{
    display : none;
}

.main_event .slick-dots li.slick-active {
    background-color: var(--color-white); 
    border-color: var(--color-white);
    border-style :solid;
}
.main_event .go_button{
    position: relative;
    color:var(--color-white);
    border: 1px solid white;
    border-radius: 8px;
    font-size: var(--font-medium);
    bottom:260px;
    left:10%;
    padding: 20px 40px;
    background: transparent;
    /* background:var(--color-black);  */
    cursor: pointer;
}

.main_event img{
    width:100%;
    height: 100%;
}

.main_event .main_event_button_list{
    position : relative;
    bottom:360px;
    left:900px;
    display : block;
    list-style: none;
    margin : 20px;
    padding : 0px;
}
.main_event .app_store_button{
    height : 48px;
    width : 157px;
    background : no-repeat;
    background-size: contain;
    margin : 8px;
    float : left;
}

.main_event .google_play_button{
    height : 48px;
    width : 176.4px;
    background : no-repeat;
    background-size: contain;
    margin : 8px;
    float : left;
}
/* 인기상품 */
.hot_product_line{
    margin: 0 150px;
}

.hot_product .hot_store{
    padding-bottom: 10px;
}

.hot_product img{
    height:230px; width:230px;
    margin-left:10px;
}
.hot_product .hot_product_title{
    padding: 0 0 10px 10px;
    color: var(--color-grey);
}
.hot_product .slick-dots{
    position : absolute;
    right :100px;
    bottom: 280px;
    z-index : 10;
}
.hot_product .slick-dots li{
list-style: none;
width : 10px;
height : 10px;
background-color: var(--color-grey) ;
border-radius : 50%;
display : inline-block;
margin : 10px; 
}
.hot_product .slick-dots li button{
    display : none;
}

.hot_product .slick-dots li.slick-active {
    background-color:var(--colot-orange); 
}
.hot_product_store_description{
    display:flex;
    padding-left:10px;
}
.hot_product_store_description .description_store h5{
    padding-top:5px;
    color:var(--color-dark-white);
}
.hot_product_store_description .description_store h4{
    padding-top:3px;
    color:var(--color-dark-white);
}
.hot_product_price{
    position: relative;
    top:27px;
    left:45px
}
/* 슬라이드 로고 영역 */
.inter_logo{
    margin-bottom: 100px;
}
.thisweek_title{
    display:flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    /* left:550px; */
    left:30%;
}
.thisweek_title h1{
    padding-top: 20px;
    font-size:var(--font-large)
}
.thisweek_title h3{
    position: absolute;
    left:25%;
    bottom:5px;
}
.thisweek_title_logo{
    display:flex;
}
.thisweek_title .character{
    position: relative;
    width:120px;
    height:120px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:25px;
    top:30px;
}
.thisweek_title .character_blue {
    position: relative;
    width:50px;
    height:50px;
    left:15px;
    top:70px;
}
/* 슬라이드 영역 */
.thisweek{
    background-color: var(--color-light-orange) ;
    width:100%
}
.thisweek_line{
    padding-top:100px;
    padding-left:100px;
}

.thisweek .store1_slide img{
    height:230px; width:230px;
    margin-left:0px;
}
.thisweek .store1_slide_image_cover {
    position: absolute;
    width: 230px ;
    height : 230px;
    background-color: var(--color-transparent);
    color : var(--color-transparent);

}
.thisweek .store1_slide_image_cover:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color : var(--color-white)
}
.thisweek .store1_slide {
    position: relative;
    padding-top: 20px;
    padding-bottom: 80px;
}
.thisweek .store1_slide button {
    position: absolute; z-index: 10; top:40%; transform: translateY(-50%);
    width:70px; height:70px; border-radius: 100%; background:rgba(0,0,0,0);
    border:none;
}
.store1_slide button:before {color:#fff; font-size:50px; font-family:'xeicon'}
.store1_slide button.slick-prev {left:-80px; font-size:0; color:transparent; border:none; }
.store1_slide button.slick-prev:before {content:"\e93c"; }
.store1_slide button.slick-next {right:50px; font-size:0; color:transparent; border:none;}
.store1_slide button.slick-next:before {content:"\e93f"; }

.store1_slide .slick-dots{
    position : absolute;
    right : 80px;
    bottom: 300px;
    z-index : 10;
}
.store1_slide .slick-dots li{
list-style: none;
width : 8px;
height : 8px;
background-color: var(--color-grey) ;
border-color: var(--color-white);
border-style :solid;
border-width : 1.1px;
border-radius : 50%;
display : inline-block;
margin : 10px; 
}
.store1_slide .slick-dots li button{
    display : none;
}
.store1_slide .slick-dots li.slick-active {
    background-color:var(--colot-orange); 
    border-color: var(--colot-orange);
    border-style :solid;
}
/* 키워드 */
.popular_keyword_background{
    padding:75px;
}
.popular_keyword_background h3{
    padding-left:30px;
}
.popular_keyword_ul{
    display: flex;
    justify-content: space-around;
}
.popular_keyword_li{
    margin : 20px 0 ;
    width : 180px;
    background-color: var(--color-white); 
    border: 1px solid var(--colot-orange);
    border-radius: 20px;
    padding: 10px 20px;
}
/* 입점문의 */
.import_store{
    background-image: url(images/main_illust.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding:75px 0;
    margin-bottom: 100px;
}
/* .import_store img{
    padding-bottom:100px;
} */
.import_store button{
    position:relative;
    border: 1px solid var(--color-black);
    background-color: rgb(0,0,0,0);
    padding: 15px 30px;
    left:1500px;
}



.store_big_box{
    background-color:var(--color-medium-white);

    padding-top: 40px;
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 40px;
}
.store_center_box{
    background-color : var(--color-white);
    width : auto;
    height : 500px;
    padding : 0;
    margin : 0;
    position : relative;

}

.cake_reservation1 {
    box-sizing : border-box;
    float : left;
    width : 500px;
    height : 500px;
    padding: 0;
    background-color: var(--color-grey);
}

.cake_reservation1 .cake_picture{
    max-width : 100%;
}
.cake_reservation1 .cake_picture_cover{
    position: absolute;
    width: 500px ;
    height : 70px;
    background-color: rgba(0, 0, 0, 0.438);
    bottom : 0px;
}

.cake_picture_cover_ul{
    display: flex;
    margin: 20px;

}
.cake_picture_cover li{
    padding-right:15px;
}
.store_button{
    width : 40px;
    height : 40px;
}

.cake_picture_cover_font{
    color : var(--colot-orange);
    font : bolder;
    font-size : 25px;
    margin:0;
}
.cake_reservation2 {
    box-sizing : border-box;
    float : left;
    width : 429px;
    height : 500px;
    padding: 0;
    background-color: var(--color-grey);
}
.res2_img{
    width : 100%;
}

.cake_reservation3 {
    box-sizing : border-box;
    float : left;
    width : 328px;
    height : 500px;
    padding: 38px;
    background-color: var(--color-white);
}

.res3_button1{
    width : 300px;
    background-color: var(--color-white); 
    border: 1px solid var(--colot-orange);
    border-radius: 5px;
    padding: 5px 10px;
    color : var(--colot-orange);
    display: grid;
    place-items: center;
    font : bolder;
}

.res3_button2{
    width : 300px;
    height : 46px;
    background-color: var(--color-white); 
    border: 1px solid var(--colot-orange);
    border-radius: 5px;
    padding: 5px 10px;
    color : var(--colot-orange);
    display: grid;
    place-items: center;
    font-size : 18px;
    margin-top : 280px;
}

.res3_button3{
    width : 300px;
    height : 46px;
    background-color: var(--color-white); 
    border: 1px solid var(--colot-orange);
    border-radius: 5px;
    padding: 5px 10px;
    color : var(--colot-orange);
    display: grid;
    place-items: center;
    font-size : 18px;
    margin-top : 5px;
}

.buy_area_box{
    width : auto;
    height : 115px;
    padding : 0;
    margin : 0;
    position : relative;
}

.buy_area{
    padding : 20px 30px;
    height : 115px;
    width : auto;
    background-color: var(--color-light-orange);
}
.store_cake_font{
    color : var(--colot-orange);
    font : bolder;
    font-size : 22px;
    display : inline-block;
}
.store_cake_name{
    font : lighter;
    font-size : 22px;
    display : inline-block;
    white-space: pre;
}
.store_cake_price{
    font : bolder;
    font-size : 22px;
    display : inline-block;
    white-space: pre;
}
.buy_button{
    background-color: var(--colot-orange);
    border: 1px solid var(--colot-orange);
    border-radius: 5px;
    padding: 5px 10px;
    color : var(--color-light-white);
    font : lighter;
    display: grid;
    place-items: center;
    width : 300px;
    height : 46px;
    display: grid;
    place-items: center;
    font-size : 18px;
    float : right;
    margin-top:15px;
}

.product_info{
    background-color : var(--color-white);
    width : auto;
    height : auto;
    padding : 70px 30px;
    margin : 0;
    position : relative;
}

.product_info .more_info{
    padding-bottom: 10px;
}

.info_wrap{
    width : 300px;
    height : 300px;
}

.product_info_font{
    white-space: pre-wrap;
}

.product_info .more_info button{
    display : none;
}


.product_info_bottom_line{
    display : flex;
    width : auto;
    color : var(--color-dark-pink);
    border : solid;
    border-width: 1.3px ;
}
.product_info_bottom_line_grey{
    display : flex;
    width : auto;
    color : var(--color-dark-white);
    border : solid;
    border-width: 1.2px ;
}
.product_info_title{
    padding: 0 0 10px 10px;
    color: var(--colot-orange);
}

.product_info_line{
    margin: 0 150px;
}

.product_info img{
    height:230px; width:230px;
    margin-left:10px;
}
.product_info .product_info_title{
    padding: 0 0 10px 10px;
    color: var(--color-grey);
}
.product_info .slick-dots{
    position : absolute;
    right :100px;
    bottom: 280px;
    z-index : 10;
}
.product_info .slick-dots li{
list-style: none;
width : 10px;
height : 10px;
background-color: var(--color-grey) ;
border-radius : 50%;
display : inline-block;
margin : 10px; 
}
.product_info .slick-dots li button{
    display : none;
}

.product_info .slick-dots li.slick-active {
    background-color:var(--colot-orange); 
}
.product_info_store_description{
    display:flex;
    padding-left:10px;
}
.product_info_store_description .description_store h5{
    padding-top:5px;
    color:var(--color-dark-white);
}
.product_info_store_description .description_store h4{
    padding-top:3px;
    color:var(--color-dark-white);
}
.product_info_price{
    position: relative;
    top:27px;
    left:45px
}
.store_center_box3 .review_box img {
    width: 180px;
    height : 180px;
    margin: 5px;
    padding : 10px;
}

.store_center_box3 .review_box  button{
    position: absolute; z-index: 10; top:40%; transform: translateY(-50%);
    width:70px; height:70px; border-radius: 100%; background:rgba(0,0,0,0);
    border:none;
    
}
.review_box button:before {color:#fff; font-size:50px; font-family:'xeicon'}
.review_box button.slick-prev {left:-60px; font-size:0; color:transparent; border:none; }
.review_box button.slick-prev:before {content:"\e93c"; }
.review_box button.slick-next {right:120px; font-size:0; color:transparent; border:none;}
.review_box button.slick-next:before {content:"\e93f"; }

.product_review_title{
    padding: 0 0 10px 10px;
    color: var(--color-dark-pink);
    float : left;
}





.store_center_box3{
    background-color : var(--color-white);
    width : auto;
    height : 500px;
    padding : 70px 30px;
    margin : 0;
    position : relative;
}
.store_center_box_navi{
    box-sizing : border-box;
    background-color : var(--color-white);
    width : 40%;
    height : 500px;
    padding : 70px 30px;
    position : relative;
    float : left;
}

.navi_button{
    width : 100px;
    background-color: var(--color-white); 
    border: 1px solid var(--colot-orange);
    border-radius: 20px;
    padding: 5px 10px;
    float : right;
}
.navi_info_font{
    color : var(--color-dark-grey);
    font : lighter;
    font-size : 18px;
    white-space: pre;
}
.navi_map_location{
    box-sizing : border-box;
    float : left;
    position : relative;
    width : 60%; 
    height : 500px;
}
.navi_map{
    width : 100%;
    height : 500px;
}

footer{
    background-color: var(--color-light-orange) ;
    font-size: var(--font-small);
    padding-bottom: 20px;
}
footer .footer_line{
    margin:0 100px;
}
.footer_description{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.footer_description ul {
    display: flex;
    margin: 0;
} 
.footer_description .footer_story li{
    padding-right:50px;
}
.footer_description .footer_icon li{
    padding-right:30px;
    font-size: var(--font-medium);
}
footer .footer_company ul{
    display:flex;
}
footer .footer_company ul li{
    padding-right:25px;
}
footer .footer_address ul{
    display:flex;
}
footer .footer_address ul li{
    padding-right:30px;
}
footer .footer_sentence li{
    padding-bottom:10px;
}